:root {
    --dark-blue: #072AC8;
    --electric: #43D2FF;
    --light-blue: #A2D6F9;
    --lighter-blue: #D1EDFF;
    --lightest-blue: #ECF7FF;
    --black: #292E47;
    --gray: #6B708D;
    --light-gray: #F2F4FC;
    --yellow: #FFC600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

body .medium  {
    font-weight: 500;
}

.intro {
    font-size: 24px ;
}

h1,
h2,
h3,
h4,
.bold {
    font-weight: bold;
    font-weight: 700;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}

.headline {
    font-size: 17px;
}

.caption {
    font-size: 15px;
}

.small {
    font-size: 13px;
}